*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_box{
    background: #ff574a;
    text-align: center;
    position: relative;
    padding: 50px 10px;
    color: #fff;
    border-radius: 10px;
}

.profile_pic{
    width: 140px;
    border-radius: 50%;
    padding: 6px;
    background: #fff;
}

.menu_icon{
    width: 25px;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
}

.setting_icon{
    width: 25px;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.profile_button{
    background: #fff;
    color: #999;
    padding: 60px 0px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -50px;
    border-radius: 10px;
    margin-top: -10px;
}

.profile_button img{
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile_box button{
    color: #1e1e1e;
    background: #ffdcd9;
    padding: 10px 60px;
    font-family: 'Times New Roman';
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: 0px 5px 10px rgba(244, 67, 54, 0.5);
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: -50px;
}

.social_media img{
    padding: 10px 15px;
}

.profile_box h3{
    font-size: 24px;
    font-weight: bold;
    font-family: emoji;
}

.profile_box p{
    font-size: 16px;
    font-family: emoji;
}